# configurações de IDE'a
.idea/
nbproject/
.vscode/

# configurações do projeto.
public/default.php

# diretório com a biblioteca do zend framework 1.12.20
library/Zend/

# instalação das dependências via composer e NPM.
composer.lock
package-lock.json
node_modules/
vendor/